body{
    background-color: gray;
    padding: 20px;
}
.breed-select{
     width: 200px;
    
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
}

.ss-content{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.loader{
    font-weight: 600;
    font-size: 20px;
}

.error{
    font-size: 20px;
    font-weight: 600;
    color: orange;
}

.cat-info{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.cat-descr{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px; 
}

.cat-breed{
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
}

.cat-desc{
    font-size: 20px;
}

.cat-temp{
    font-size: 20px;
}

.cat-img{
    border-radius: 20px;
    
}

.unvisible{
    display: none;
    
}

.visible{
    display: block;
}

.visible-flex{
    display: flex;
}